/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing:border-box;
}

body {
	font-size: 12px;
	background-color: #0e0e10;
	font-family: 'Raleway', Arial, Sans-serif;
}

h1 {
	font-family: 'Playfair Display', serif;
	color: #9cbfd4;
	font-size: 3.7em;
	margin: 0.8em auto;
}

/* =================================
  Base Layout Styles
==================================== */
.container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* ---- Navigation, Headers, and Footers---- */
footer {
	min-height: 9em;
  background-color: cornflowerblue;
  margin-top: 3em;
  width: 100%;
}

.back_to_top {
	color: #0e0e10;
	text-align: center;
	font-size: 1.5em;
	text-decoration: none;
	display: block;
	padding: 2em 0;
}

.material-icons {
	position: relative;
	top: 4px;
	left: 5px;
}
/* ---- Headers and Titles ---- */
/* ---- Forms & Form Elements ---- */
input {
	display: block;
	margin: 2em auto;
	padding: 1.25em 1em;
	width: 100%;
	font-size: 1.3em;
	border: 1px solid rgba(156, 191, 212, 0.5);
	background: transparent;
	color: #c1c1c1;
	transition: border .15s ease-in;
}

input:hover {
	border: 1px solid rgba(156, 191, 212, 1);
}

input:focus {
	outline: none;
}

/* ---- Pictures, Images, and Graphics ---- */
.photo {
	width: 100%;
	margin: 1em 0;
}

.image {
	width: 100%;
}
/* =================================
  Media Queries
==================================== */
@media (min-width: 768px) {
    /* ---- General Layout Styles---- */

		.back_to_top {
			font-size: 2em;
		}

		.material-icons {
			top: 3px;
		}
		/* ---- Pictures, Images, and Graphics ---- */
		.photo {
			width: 47.3%;
    	margin-bottom: 2em;
		}

		.image {
			width: 100%;
		}
    /* ---- Labels & Inputs ---- */
}

@media (min-width: 1024px) {
    /* ---- General Layout Styles---- */
		.container {
			max-width: 1024px;
		}
		/* ---- Pictures, Images, and Graphics ---- */
		.photo {
			width: 100%;
		}
    /* ---- Labels & Inputs ---- */
}
