/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing:border-box;
}

body {
	font-size: 12px;
	background-color: #f1f1f1;
	font-family: 'Raleway', Arial, Sans-serif;
}

h1 {
	font-family: 'Playfair Display', serif;
	color: #2f2f2f;
	font-size: 3.7em;
	margin: 0.8em auto;
}

/* =================================
  Base Layout Styles
==================================== */
.container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#photoGallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/* ---- Navigation, Headers, and Footers---- */
footer {
	min-height: 9em;
  background-color: #153a75;
  margin-top: 3em;
  width: 100%;
	position: relative;
	bottom: 0;
}

.back_to_top {
	color: #ffffff;
	text-align: center;
	font-size: 1.5em;
	text-decoration: none;
	display: block;
	padding: 2em 0;
}

.material-icons {
	position: relative;
	top: 4px;
	left: 5px;
}
/* ---- Headers and Titles ---- */
/* ---- Forms & Form Elements ---- */
input {
	display: block;
	margin: 2em auto;
	padding: 1.25em 1em;
	width: 100%;
	font-size: 1.3em;
	border: 1px solid rgba(21, 58, 117, 0.5);
	background: transparent;
	color: #2f2f2f;
	transition: border .15s ease-in;
}

input:hover {
	border: 1px solid rgba(21, 58, 117, 1);
}

input:focus {
	outline: none;
}

/* ---- Pictures, Images, and Graphics ---- */
.photo {
	margin: 1.5em 0;
}

.image {
	width: 200px;
}

/* =================================
  Charlie Prator's Portfolio Styles
==================================== */

/*
**    Overlay & Modal
*/

.overlay {
  background-color: rgba(0, 0, 0, .75);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  background-color: white;
	padding: 2em 1.5em;
	margin: 5%;
	max-height: 95vh;
  max-width: 720px;
	box-shadow: 1px 24px 40px 4px rgba(0, 0, 0, 0.66);
	transform: rotate(0deg);
}

@media (min-width: 768px) {
	.modal {
		margin: 2em auto;
	  max-width: 720px;
	}
}

/*
**    Typography
*/

.modal > h1 {
	margin: 0;
	line-height: 1.15;
	font-size: 16px;
	font-family: Arial;
	font-weight: 900;
	letter-spacing: -0.08em;
	text-align: left;
	color: #0A090B;
}

.modal > h2 {
	font-size: 16px;
	font-family: Arial;
	font-weight: 900;
	letter-spacing: -0.05em;
	text-align: left;
	color: #0A090B;
	margin: 8px 0;
}

.modal > p,
.modal > ul > li {
	font-size: 14px;
	font-family: Arial;
	letter-spacing: -0.02em;
	color: #0A090B;
	line-height: 1.15;
	margin-top: 0;
}

.modal > ul {
	margin: 4px 0;
	list-style: disc;
	margin-left: 40px;
}

#closeIcon {
	position: fixed;
	right: 8px;
  top: 8px;
  font-weight: 900;
}


#closeIcon:hover {
	-webkit-animation: jello-diagonal-1 0.5s both;
	        animation: jello-diagonal-1 0.5s both;
}

@media (min-width: 768px) {
	.modal > h1 {
		font-size: 24px;
	}

	.modal > h2 {
		font-size: 20px;
	}

	.modal > p,
	.modal > ul > li {
		font-size: 18px;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-19 23:22:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-diagonal-1
 * ----------------------------------------
 */
@-webkit-keyframes jello-diagonal-1 {
  0% {
    -webkit-transform: skew(0deg 0deg);
            transform: skew(0deg 0deg);
  }
  30% {
    -webkit-transform: skew(25deg 25deg);
            transform: skew(25deg 25deg);
  }
  40% {
    -webkit-transform: skew(-15deg, -15deg);
            transform: skew(-15deg, -15deg);
  }
  50% {
    -webkit-transform: skew(15deg, 15deg);
            transform: skew(15deg, 15deg);
  }
  65% {
    -webkit-transform: skew(-5deg, -5deg);
            transform: skew(-5deg, -5deg);
  }
  75% {
    -webkit-transform: skew(5deg, 5deg);
            transform: skew(5deg, 5deg);
  }
  100% {
    -webkit-transform: skew(0deg 0deg);
            transform: skew(0deg 0deg);
  }
}
@keyframes jello-diagonal-1 {
  0% {
    -webkit-transform: skew(0deg 0deg);
            transform: skew(0deg 0deg);
  }
  30% {
    -webkit-transform: skew(25deg 25deg);
            transform: skew(25deg 25deg);
  }
  40% {
    -webkit-transform: skew(-15deg, -15deg);
            transform: skew(-15deg, -15deg);
  }
  50% {
    -webkit-transform: skew(15deg, 15deg);
            transform: skew(15deg, 15deg);
  }
  65% {
    -webkit-transform: skew(-5deg, -5deg);
            transform: skew(-5deg, -5deg);
  }
  75% {
    -webkit-transform: skew(5deg, 5deg);
            transform: skew(5deg, 5deg);
  }
  100% {
    -webkit-transform: skew(0deg 0deg);
            transform: skew(0deg 0deg);
  }
}


/* =================================
  Media Queries
==================================== */

@media (min-width: 375px) {
	.image {
    width: 100%;
	}
}

@media (min-width: 445px) {
	#photoGallery {
		justify-content: space-between;
	}
}

@media (min-width: 768px) {
    /* ---- General Layout Styles---- */

		.back_to_top {
			font-size: 2em;
		}

		.material-icons {
			top: 3px;
		}

		/* ---- Pictures, Images, and Graphics ---- */
		.photo {
			max-width: 200px;
    	margin-bottom: 2em;
		}

		.image {
			width: 100%;
		}
    /* ---- Labels & Inputs ---- */
}

@media (min-width: 1024px) {
    /* ---- General Layout Styles---- */
		.container {
			max-width: 1024px;
		}

		footer {
			display: none;
		}
		/* ---- Pictures, Images, and Graphics ---- */
		.photo {
			max-width: 200px;
			margin: 1em;
		}
    /* ---- Labels & Inputs ---- */
		input {
			width: 97.7%;
		}
}
