// ==========================================================================
// Extends or Placeholders
// ==========================================================================

// General Placeholders

%centered {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100%;
  max-width: $max-width;
  flex-grow: inherit;
}

%container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.5em;
}

// UI Element Specific Placeholders
