// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks
$font-url--google-Work-Sans            : 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';
$font-family--primary                  : 'Open Sans', 'Arial Black', Arial;

// Font Weights
$font-weight--thin                     : 100;
$font-weight--light                    : 300;
$font-weight--medium                   : 400;
$font-weight--semi-bold                : 600;
$font-weight--bold                     : 700;
$font-weight--ultra-bold               : 900;

// Widths
$max-width                             : 1024px;

// Descriptive Base Colors for myUXteam
$white                                 : #fff;
$gray                                  : #838383;

$seafoam-blue                          : #51ddfc;
$algae-green                           : #58e1c1;
$alpine-green                          : #63cc82;
$salmon                                : #e4757a;
$tangerine                             : #fd7856;
$lilac                                 : #927bc1;
$slate-blue                            : #16465b;

// Color Usage
$color-primary                         : $seafoam-blue;
$color-secondary                       : $algae-green;
$color-accent                          : $slate-blue;
$color-success                         : $alpine-green;
$color-negative                        : $salmon;
$color-warning                         : $tangerine;
$color-info                            : $lilac;

// Text
$base__font-size                       : 16px;
$base__line                            : 24px;

// Breakpoint for Treehouse Project 5
$break-m                               : 425px;
$break-t                               : 768px;
$break-d                               : 1024px;
