// ==========================================================================
// Global Config
// ==========================================================================
// Font Stack
$font-family                  : Arial, 'Arial Black';

// Font Weights
$font-weight--regular                  : 500;
$font-weight--bold                     : 600;
$font-weight--black                    : 800;

// Widths
// $max-width                             : 1024px;
$max-width                             : calc(100vw - 32px);

// Base Colors
$white                                 : #fff;
$rich-black                            : #0A090B;
$cosmic-cobalt                         : #323786;
$violet-blue                           : #646CC4;
$seafoam                               : #00ffad;
$ork-red                               : #A90505;

// Color Usage
$color-primary                         : $rich-black;
$color-secondary                       : $cosmic-cobalt;
$color-tertiary                        : $violet-blue;
$color-accent                          : $seafoam;
$color-comp-accent                     : $ork-red;

// Descriptive Base Colors for companies referenced in portfolio
$nsp-blue                              : #015F85;
$nsp-green                             : #7ABD45;

$pep-tan                               : #A78154;
$pep-black                             : #1A1114;

$hue-gray                              : #454545;
$hue-dark-gray                         : #2A2A2A;
$hue-pink                              : #F86AC1;

$tsp-red                               : #E73024;
$tsp-dark-red                          : #A13427;

// Text
$base__font-size                       : 20px;
$base__line                            : 24px;

// Breakpoints
$break-m                               : 425px;
$break-t                               : 768px;
$break-d                               : 1024px;
$break-hd                              : 1440px;

// Max Widths
$max-width                             : 1440px;
