// ==========================================================================
// Audio & Video Styles
// ==========================================================================


video {
  max-width: 1024px;
  width: 100%;
}

.mejs__controls {
  background: rgba(71, 119, 255, 0.65) !important;
  height: em(60px);
  padding: 0.6em;
}

.mejs__time {
  font-size: 0.3em;
  padding: 1.5em 0;
  border-radius: em(16px);
}

.mejs__time-loaded {
  border-radius: em(16px);
}

.mejs__time-current {
  background: rgba(96, 255, 86, 0.58);
}
