// ==========================================================================
// Iconography Styles
// ==========================================================================

i {
  padding: rem(4px) rem(16px);
}

.footer {
  @include e(link){
    i {
      color: $white;
      @include mq($break-hd) {
        padding: 0 0.25rem;
      }
    }
  }
}

.footer__link:hover > i {
  animation: snap .5s ease-in backwards;
}

.resumeLink:hover > i {
  animation: snap .5s ease-in backwards;
  color: $color-accent;
}

a:hover .lni-arrow-left {
  animation: bounce-left .5s ease-in backwards;
}

a:hover .lni-arrow-right {
  animation: bounce-right .5s ease-in backwards;
}

// SVG Icon in Footer of index.HTML
.footer__link > svg {
  padding: 0 0.7rem;
  position: relative;
  top: 6px;
  @include mq($break-hd) {
    padding: 0 0.25rem;
    height: 19px;
    top: 4px;
  }
}

.footer__link:hover > svg {
  animation: snap .5s ease-in backwards;
}

// Keyframe Animations

@keyframes bounce-left {
    0%   { transform: scale(1,1)         translateX(0);     }
    10%  { transform: scale(1.75,.9)     translateX(0);     }
    30%  { transform: scale(.9,1.75)     translateX(-32px); }
    50%  { transform: scale(1.25,.95)    translateX(0);     }
    57%  { transform: scale(1,1)         translateX(-8px);  }
    64%  { transform: scale(1,1)         translateX(0);     }
    100% { transform: scale(1,1)         translateX(0);     }
}

@keyframes bounce-right {
    0%   { transform: scale(1,1)         translateX(0);     }
    10%  { transform: scale(1.75,.9)     translateX(0);     }
    30%  { transform: scale(.9,1.75)     translateX(32px); }
    50%  { transform: scale(1.25,.95)    translateX(0);     }
    57%  { transform: scale(1,1)         translateX(8px);  }
    64%  { transform: scale(1,1)         translateX(0);     }
    100% { transform: scale(1,1)         translateX(0);     }
}

@keyframes snap {
    0%   { transform: scale(1,1)      }
    10%  { transform: scale(2,1.1)    }
    30%  { transform: scale(.9,1.75)  }
    50%  { transform: scale(1.25,.95) }
    57%  { transform: scale(1,1)      }
    64%  { transform: scale(1.1,1.1)  }
    100% { transform: scale(1,1)      }
}
