// ==========================================================================
// Image Styles
// ==========================================================================

// Basic Styles
img {
  width: 100%;
  height: auto;
  max-width: rem(768px);
  margin: 0 auto;
  display: block;
  object-fit: contain;
  max-height: 66vh;
}

// Banner/Hero image
.hero {
  background-image: linear-gradient(to right, rgba($color-comp-accent, 0.76), rgba($color-comp-accent, 0.76)),
                    linear-gradient(to right, rgba($color-accent, 0.78), rgba($color-accent, 0.78)),
                    url(../images/Photo_of_Charlie_desaturated.jpg);
  background-blend-mode: lighten,
                         darken,
                         normal;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
  min-height: rem(500px);
  @include mq($break-d) {
    height: 115vh;
  }
}

// Design portfolio images
.grid:nth-of-type(1) .card img {
  height: 90%;
  object-position: bottom center;
  object-fit: contain;
  width: 75%;
  margin: 0 auto;
  display: block;
  position: fixed;
  left: 13%;
  bottom: 0;
}

// Dev portfolio imeages
.grid:nth-of-type(2) .card img{
  width: 100%;
  object-fit: cover;
  height: 234px;
}

.grid:nth-of-type(3) .card img{
  object-fit: cover;
  height: 234px;
}
