// ==========================================================================
// Navigation Styles
// ==========================================================================

// Top Navigation
nav {
  display: flex;
  flex-direction: column;
  height: 0;
  background-color: rgba($white, 0.95);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  overflow-y: hidden;
  transition: ease-in-out 0.33s;
  justify-content: space-between;
  @include mq($break-t) {
    height: rem(124px);
    flex-direction: row;
    align-items: center;
    padding: 0 rem(16px);
    justify-content: inherit;
  }
}

.navLink {
  font-weight: 900;
  padding: rem(20px);
  font-size: rem(40px);
  letter-spacing: -3px;
  @include mq($break-t) {
    visibility: visible;
    padding: 0 1rem;
  }
}

#hamburger_menu, #close_icon {
  padding: 1rem;
  font-size: rem(40px);
  font-weight: 900;
  position: fixed;
  @include mq($break-t) {
    visibility: hidden;
  }
}

#hamburger_menu {
  z-index: 2;
  background-color: rgba($white, 0.95);
  box-shadow: 0 0 20px 0px rgba($color-primary, 0.50);
}

footer {
  transform: rotate(0deg);
  background-color: $color-primary;
  padding: rem(56px) rem(16px) 0 rem(16px);
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  @include mq($break-t) {
    flex-direction: row;
    padding: rem(56px) rem(24px);
    margin-top: 6rem;
  }
  @include mq($break-hd) {
    padding: 10% 4%;
  }
}
