// ==========================================================================
// Base Styles
// ==========================================================================

* {
  font-family: $font-family;
  font-size: $base__font-size;
  line-height: $base__line;
  font-weight: $font-weight--regular;
  line-height: 1.25;
  color: $color-primary;
  &:focus {
    outline: none;
    background-color: $color-comp-accent;
    border-radius: rem(4px);
  }
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: em(16px);
}

.container:first-child {
  position: relative;
  top: 35%;
  @include mq($break-t) {
    top: 32%;
  }
  @include mq($break-d) {
    top: 46%;
  }
  // @include mq($break-hd) {
  //   top: 42%;
  // }
}

.centered {
  @extend %centered;
}
